<html lang="en-US">
<head>
    <title>Yung</title>
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <!-- Fonts -->
    <link href='../css/external/google_fonts_open_sans_new.css' rel='stylesheet' type='text/css'>
    <!-- Icons -->
    <link href="../css/external/ioniconsmin.css" media="all" rel="stylesheet" type="text/css">
    <!-- Styles -->
    <link href="../css/keyframes.css" rel="stylesheet" type="text/css">
    <link href="../css/materialize.min.css" rel="stylesheet" type="text/css">

    <link href="../css/external/style.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="m-scene" id="main"> <!-- Main Container -->
    <!-- Page Content -->
    <div id="content" class="page">

        <!-- Toolbar -->
        <div id="toolbar" class="primary-color">
            <div class="open-left">
                <i class="ion-arrow-left-c" onclick="goHome()"></i>
            </div>
            <span class="title"> Features </span>
            <div class="open-right">
            </div>
        </div>

        <!-- Main Content -->

        <!-- Activity Content -->
        <div class="animated fadeinup delay-1">

            <br><br>
            <br>


            <div class="container activity">

                <div class="row">
                    <div class="col s12" id="exchange_stations">

                        <div class="contact">
                            <div class="dot z-depth-1"></div>
                            <p><b>BUS LOCATION</b></p>
                            <p>Realtime GPS location and Smart Tracking</p>
                        </div>
                        <div class="contact">
                            <div class="dot z-depth-1"></div>
                            <p><b>NOTIFICATION</b></p>
                            <p>Bus arrival notification to passenger</p>
                        </div>
                        <div class="contact">
                            <div class="dot z-depth-1"></div>
                            <p><b>BOOKING</b></p>
                            <p>Bus seat booking via mobile platform</p>
                        </div>
                        <div class="contact">
                            <div class="dot z-depth-1"></div>
                            <p><b>PLANNING</b></p>
                            <p>Efficient Journey Planning</p>
                        </div>
                        <div class="contact">
                            <div class="dot z-depth-1"></div>
                            <p><b>FORECAST</b></p>
                            <p>Estimated Travel Time according to traffic situations</p>
                        </div>
                        <div class="contact">
                            <div class="dot z-depth-1"></div>
                            <p><b>QUALITY</b></p>
                            <p>Customer Satisfaction, Rating and Feedback</p>
                        </div>


                    </div>


                </div>
            </div>
            <div class="search">
                <input style="width: 300px;" type="submit" value="Back" onclick="goHome();">
            </div>
        </div>
        <br>

    </div>
</div>

<script type="text/javascript" src="../controllers/menupage_controller.js"></script>

</body>
</html>