<html lang="en-US">
<head>
    <title>Yung</title>
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <!-- Fonts -->
    <link href="../css/external/google_fonts_open_sans_new.css" rel='stylesheet' type='text/css'>
    <!-- Icons -->
    <link href="../css/external/ioniconsmin.css" media="all" rel="stylesheet" type="text/css">
    <!-- Styles -->
    <script type="text/javascript" src="../controllers/home_controller.js"></script>
    <!--bootstrap-->
    <link href="../css/external/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--custom css-->
    <link href="../css/external/style.css" rel="stylesheet" type="text/css"/>
    <!--homepage-css-->
    <link href="../css/home_page.css" rel="stylesheet" type="text/css"/>
    <!--component-css-->
    <script src="../js/external/jquery-2.1.4.min.js"></script>

    <script src="../js/external/modernizr.custom.js"></script>
    <link rel="stylesheet" href="../css/external/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <style>
        #loadingDiv {
            cursor: wait;
            background:#ffffff url('../images/89.gif') no-repeat center center;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
            filter: alpha(opacity=75);
            opacity: 0.75;
            position: absolute;
            z-index: 10000;
            display: none;
            height: 100%;
            width: 100%;
        }
    </style>
    <script>
        $(function () {

            var autoSuggest = JSON.parse(localStorage.getItem("autosuggest"));


            if(autoSuggest==null){
                var autosuggest_adddresses = [];

                jQuery.ajax({
                    type: "GET",
                    dataType: 'jsonp',
                    url: "http://www.titansmora.org/findmybusfinal/LocationsLIst/getLocationsList.php",
                    success: function (obj) {
                        localStorage.setItem("autosuggest",JSON.stringify(obj));
                        if (!('error' in obj)) {
                            $.each(obj, function (index, element) {
                                autosuggest_adddresses.push(element);
                                $('#cities').append(
                                    '<option value=' + '"' + element + '"' + '></option>');
                            });

                        }
                        else {
                            console.log(obj.error);
                        }
                    }
                });
            }else{
                for (var i = 0; i < autoSuggest.length; i++) {
                    $('#cities').append(
                        '<option value=' + '"' + autoSuggest[i] + '"' + '></option>');
                }

            }

        });


    </script>

</head>

<body>
<div id="loadingDiv" class="ajax-loader"></div>
<div class="m-scene" id="main"> <!-- Main Container -->
    <!-- Page Content -->
    <div id="content" class="page">

        <!-- Toolbar -->
        <div id="toolbar" class="primary-color">
            <div class="open-left">

            </div>
            <span class="title"> Live Buses </span>
            <div class="open-right">
                <i class="ion-android-menu" onclick="goContact()"></i>
            </div>
        </div>
        <!-- Main Content -->
        <div class="animated fadeinup delay-1">

            <br><br>
            <div class="details-grid bus">
                <div class="details-shade ">
                    <div class="details-right">
                        <img src="../images/logo.png" alt=" ">
                        <h3>Plan Your Journey</h3>
                        <h4>You Are Never Lost</h4>
                    </div>
                </div>
            </div>
            <div class="w3agile banner-bottom">
                <ul>
                    <li><a class="hvr-radial-out"><i aria-hidden="true"></i><img src="../images/plan.png"
                                                                                 class="img-dp"
                                                                                 onclick="timeTableWindow();"/></a><h6>
                        Time Table</h6></li>
                    <li><a class="hvr-radial-out"><i aria-hidden="true"></i><img src="../images/enter.png" class="img-dp"
                                                                                 onclick="transitPlanWindow();"/></a><h6>
                        Transit</h6></li>
                    <li><a class="hvr-radial-out"><i aria-hidden="true"></i><img src="../images/go.png" class="img-dp"
                                                                                 onclick="busSearchWindow();"/></a><h6>Buses</h6>
                    </li>
                    <li><a class="hvr-radial-out"><i aria-hidden="true"></i><img src="../images/search.png"
                                                                                 class="img-dp"
                                                                                 onclick="RoutesWindow();"/></a><h6>
                        Routes</h6></li>
                </ul>
            </div>
            <!-- //banner -->
            <!--bus -->



            <div class="w3agile contact">
                <div class="book-a-ticket">
                    <div class=" bann-info">
                        <div class="ban-top">
                            <div class="bnr-center_full">
                                <label for="from" class="inputLabel">From</label>
                                <input autocomplete="on" list="cities" class="city" id="from" type="text" value="Enter a city"
                                       onfocus="this.value = '';"
                                       onblur="if (this.value == '') {this.value = 'Enter a city';}" required="">
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="ban-bottom">
                            <div class="bnr-center_full">
                                <label for="to" class="inputLabel">To</label>
                                <input autocomplete="on" list="cities" class="city" id="to" type="text" value="Enter a city"
                                       onfocus="this.value = '';"
                                       onblur="if (this.value == '') {this.value = 'Enter a city';}" required="">
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <datalist id="cities"></datalist>
                        <div class="search">
                            <input type="submit" value="Search" onclick="goResults();">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End of Main Contents -->
    </div> <!-- End of Page Content -->
</div> <!-- End of Page Container -->

</body>
</html>