<html lang="en-US">
<head>
    <title>Yung</title>
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <!-- Icons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all" rel="stylesheet" type="text/css">
    <!-- Styles -->
    <link href="../css/keyframes.css" rel="stylesheet" type="text/css">
    <link href="../css/materialize.min.css" rel="stylesheet" type="text/css">
    <link href="../css/swiper.css" rel="stylesheet" type="text/css">
    <link href="../css/swipebox.min.css" rel="stylesheet" type="text/css">
    <link href="../css/external/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="../controllers/static_routes_controller.js"></script>

    <script>

        $(function () {
            var routes = [];

            jQuery.ajax({
                type: "GET",
                dataType: 'jsonp',
                url: "http://www.titansmora.org/findmybusfinal/TimeTables/getRoutes.php",
                success: function (obj, textstatus) {
                    if (!('error' in obj)) {
                        $.each(obj, function (index, element) {
                            routes.push(element);
                        });
                        $("#route").autocomplete({
                            source: routes
                        });
                    }
                    else {
                        console.log(obj.error);
                    }
                }
            });

        });


    </script>

</head>

<body>
<div class="m-scene" id="main"> <!-- Main Container -->
    <!-- Page Content -->
    <div id="content" class="page">

        <!-- Toolbar -->
        <div id="toolbar" class="primary-color" align="center">
            <!--<div class="open-left">-->
            <!--<i class="ion-arrow-left-c" onclick="goHome()"></i>-->
            <!--</div>-->
            <div>
                <span class="title"> Yung </span>
            </div>
        </div>

        <!-- Main Content -->

        <!-- Activity Content -->
        <div class="animated fadeinup delay-1">

            <br><br>
            <div class="details-grid bus3">
                <div class="details-shade ">
                </div>
            </div>

            <!--bus-single -->
            <div class="w3agile single-bus">

                <div class=" bann-info">
                    <div class="ban-top">
                        <div align="center">
                            <div class="bnr-center">
                                <input class="city" id="route" type="text" value="Enter a Route"
                                       onfocus="this.value = '';"
                                       onblur="if (this.value == '') {this.value = 'Enter a city';}" required="">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="search">
                        <input type="submit" value="Search" onclick="goResults();">
                    </div><br>
                </div>

                <!--- /bus-tp ---->
                <div class="w3agile bus-midd" id="route_table_div" style="display:none">
                    <div class="table-responsive">
                        <table class="table table-bordered agileinfo">
                            <thead>
                            <tr>
                                <th>Start</th>
                                <th>Start Time</th>
                                <th>End</th>
                                <th>End Time</th>
                            </tr>
                            </thead>
                            <tbody id="route_table_body">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <div class="swiper-container steps">
            <div class="steps-controllers white-text" align="center" style="padding-left: 40%">
                <!-- Add Arrows -->
                <div align="center" id="view_map"><a onclick="viewMap()" class="white-text" style="text-align: center">MAP</a></div>
            </div>
        </div>
    </div>
</div>



<script src="../js/jquery.swipebox.min.js"></script>
<script src="../js/materialize.min.js"></script>
<script src="../js/swiper.min.js"></script>
<script src="../js/jquery.mixitup.min.js"></script>
<script src="../js/masonry.min.js"></script>
<script src="../js/chart.min.js"></script>
<script src="../js/functions.js"></script>
<script type="text/javascript" charset="utf-8" src="../cordova.js"></script>
</body>
</html>