<html lang="en-US">
<head>
    <title>Yung</title>
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <!-- Icons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all" rel="stylesheet" type="text/css">
    <!-- Styles -->
    <link href="../css/keyframes.css" rel="stylesheet" type="text/css">
    <link href="../css/materialize.min.css" rel="stylesheet" type="text/css">
    <link href="../css/swiper.css" rel="stylesheet" type="text/css">
    <link href="../css/swipebox.min.css" rel="stylesheet" type="text/css">
    <link href="../css/external/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../controllers/static_routes_controller.js"></script>
</head>

<body>
<div class="m-scene" id="main"> <!-- Main Container -->
    <!-- Page Content -->
    <div id="content" class="page">

        <!-- Toolbar -->
        <div id="toolbar" class="primary-color">
            <div class="open-left">
                <i class="ion-arrow-left-c" onclick="goHome()"></i>
            </div>
            <span class="title"> Yung </span>
            <div class="open-right">
                <a href=""> <i class="ion-android-menu" onclick="goContact()"></i></a>
            </div>
        </div>

        <!-- Main Content -->

        <!-- Activity Content -->
        <div class="animated fadeinup delay-1">

            <br><br>
            <div class="details-grid bus3">
                <div class="details-shade ">
                    <div class="details-right">
                        <h4>Start : Kottawa</h4>
                        <h4>Destination : Borella</h4>
                    </div>
                </div>
            </div>

            <!--bus-single -->
            <div class="w3agile single-bus">
                <!--- bus-tp ---->
                <div class="bus-tp">
                    <h2>Buses from Kottawa to Petta</h2>
                    <div class="clearfix"></div>

                </div>
                <!--- /bus-tp ---->
                <div class="w3agile bus-midd">
                    <div class="table-responsive">
                        <table class="table table-bordered agileinfo">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Bus Route</th>
                                <th>Depart</th>
                                <th>Arrive</th>
                                <th>Duration</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="t-one" scope="row">1</th>
                                <td class="price us"><i class="fa fa-bus" aria-hidden="true"></i> 138</td>
                                <td class="wthree"><i class="fa fa-clock-o"></i>08:10 PM</td>
                                <td class="wthree">6:10 AM</td>
                                <td class="wthree">2 hours</td>
                            </tr>
                            <tr>
                                <th class="t-one" scope="row">2</th>
                                <td class="price us"><i class="fa fa-bus" aria-hidden="true"></i> 138/1</td>
                                <td class="wthree"><i class="fa fa-clock-o"></i>08:10 PM</td>
                                <td class="wthree">6:10 AM</td>
                                <td class="wthree">2 hours</td>
                            </tr>
                            <tr>
                                <th class="t-one" scope="row">3</th>
                                <td class="price us"><i class="fa fa-bus" aria-hidden="true"></i> 138/2</td>
                                <td class="wthree"><i class="fa fa-clock-o"></i>08:10 PM</td>
                                <td class="wthree">6:10 AM</td>
                                <td class="wthree">2 hours</td>
                            </tr>
                            <tr>
                                <th class="t-one" scope="row">4</th>
                                <td class="price us"><i class="fa fa-bus" aria-hidden="true"></i> 128</td>
                                <td class="wthree"><i class="fa fa-clock-o"></i>08:10 PM</td>
                                <td class="wthree">6:10 AM</td>
                                <td class="wthree">2 hours</td>
                            </tr>
                            <tr>
                                <th class="t-one" scope="row">5</th>
                                <td class="price us"><i class="fa fa-bus" aria-hidden="true"></i> 122</td>
                                <td class="wthree"><i class="fa fa-clock-o"></i>08:10 PM</td>
                                <td class="wthree">6:10 AM</td>
                                <td class="wthree">2 hours</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <div class="swiper-container steps">
            <div class="steps-controllers white-text">
                <!-- Add Arrows -->
                <div><a href="home.html" class="white-text">MAP</a></div>
                <div class="white-text">PREV</div>
                <div class="white-text">NEXT</div>
            </div>
        </div>
    </div>
</div>




<script src="../js/jquery-2.1.0.min.js"></script>
<script src="../js/jquery.swipebox.min.js"></script>
<script src="../js/materialize.min.js"></script>
<script src="../js/swiper.min.js"></script>
<script src="../js/jquery.mixitup.min.js"></script>
<script src="../js/masonry.min.js"></script>
<script src="../js/chart.min.js"></script>
<script src="../js/functions.js"></script>
<script type="text/javascript" charset="utf-8" src="../cordova.js"></script>
</body>
</html>