<html lang="en-US">
<head>
    <title>Yung</title>

    <!--Meta Content-->
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">

    <link href="../css/external/google_fonts_open_sans_new.css" rel='stylesheet' type='text/css'>
    <link href="../css/external/ioniconsmin.css" media="all" rel="stylesheet" type="text/css">
    <link href="../css/keyframes.css" rel="stylesheet" type="text/css">
    <link href="../css/materialize.min.css" rel="stylesheet" type="text/css">
    <link href="../css/external/style.css" rel="stylesheet" type="text/css">
    <link href="../css/viewbusroute.css" rel="stylesheet" type="text/css">

    <!--Style Import-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAudcLsRCpIcU_dRsKeL3fAMAkhyI6kUf8&callback=initMap" async defer></script>
    <script type="text/javascript" src="../controllers/view_bus_route_controller.js"></script>

</head>

<body>
<div class="m-scene" id="main"> <!-- Main Container -->
    <!-- Page Content -->
    <div id="content" class="page">

        <!-- Toolbar -->
        <div id="toolbar" class="primary-color">
            <div class="open-left">
                <i class="ion-arrow-left-c" onclick="goHome()"></i>
            </div>
            <span class="title"> Bus Route </span>
            <div class="open-right">
                <i class="ion-android-menu" onclick="goContact()"></i>
            </div>
        </div>

        <!-- Main Content -->

        <!-- Activity Content -->
        <div class="animated fadeinup delay-1">
            <div id="adminMap"></div>

        </div>
    </div>
</div>

<script type="text/javascript" src="../controllers/bus_halt_list_controller.js"></script>


</body>
</html>